/*Main style sheet for the entire website*/
 @font-face { font-family: Fordscript; src: url('../fonts/Fordscript.ttf'); } 

body {
   background-color: #41628f;
}

header {
   margin-bottom: 15px;
}

#title {
   text-align: center;
   font-family: Fordscript, Times, serif;
   color: antiquewhite;
}

#indexNav {
   margin: auto;
   float: none;
}

nav a {
   color: antiquewhite;
   font-weight: bold;
   margin: 10px;
}

#pageContent {
   margin: auto; 
   border: 5px solid #f0c554;
   float: none;
}

#aboutContent {
   margin-top: 25px;
}

#aboutImgs {
   margin-top: 25px;
}

#aboutImgs img {
   margin-bottom: 25px;
}

#aboutLogos {
   text-align: center;
}

#linksContent {
   margin-top: 15px;
}

#indexPicRow1, #indexPicRow2, #linksPicRow, #ECCSPicRow, #SponsorPicRow {
   text-align: center;
}

#indexPicRow1 img, #indexPicRow2 img {
   margin: 30px;
}

#linksPicRow img, #ECCSPicRow img {
   margin: 25px;
   max-height: 100%;
   max-width: 100%;
}

#SponsorPicRow img {
   margin: 10px;
   max-height: 100%;
   max-width: 100%;
}

p {
   font-weight: bold;
   color: antiquewhite;
}

#indexText {
   padding: 15px;
}

.eventsCalendar {
   position: relative;
   padding-bottom: 75%;
   height: 0;
   overflow: hidden;
   margin: 10px;
}
 
.eventsCalendar iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

h4 {
   font-weight: bold;
   color: antiquewhite;
}

ul, ul a {
   color: #f0c554;
}

.eccsPdfLink {
   color: #f0c554;
   font-weight: bold;
}

#eccsContent {
   text-align: center;
}

.eccsPageLink {
   margin: auto;
}

#footerRow {
   float: none;
   margin: auto;
   padding-left: 0;
   padding-right: 0;
}

.fa-facebook-square {
   color: antiquewhite;
   margin-top: 10px; 
   float: right;
}